/* Settings Hébergements Marseille */

.h2__hebergements, .span__afficher {
    font-family: var(--font);
    font-weight: 700;
    line-height: normal;
}

.h2__hebergements {
    font-size: 22px;
    margin: 0%;
    padding-bottom: 30px;
}

.span__afficher {
    font-size: var(--font-size-medium);
}

.container__hebergement {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-bottom: 30px;
}

.bulle__hebergement {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
    width: 100%;
    height: 100%;
    gap: 4px;
    flex: 1 0 0;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    background-color: var(--white);
}

.image__hebergement {
    height: 124px;
    width: 100%;
    box-sizing: border-box;
    object-fit: cover; 
    align-self: stretch;
    border: 5px solid var(--white);
    border-radius: 20px 20px 0 0;
}

.bulle__content {
    display: flex;
    box-sizing: border-box;
    padding: 0 15px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.title__bulle, .text__bulle {
    font-family: var(--font);
    line-height: normal;
    margin: 0;
}

.title__bulle {
    font-size: var(--font-size-regular);
    font-weight: 700;
    margin-bottom: 8px;
}

.text__bulle {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
}

.card-rating {
    margin: 0;
}

@media (max-width: 1024px) {
    .container__hebergement {
        grid-template-columns: repeat(3, 1fr);
    }

    .bulle__hebergement {
        border-radius: 20px;
    }

    .image__hebergement {
        height: 124px;
        border-radius: 20px 20px 0 0;
    }

    .bulle__texte {
    width: 100%;
    height: auto;
    }
}

@media (max-width: 767.98px) {
    .container__hebergement {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .bulle__hebergement {
        border-radius: 20px;
        height: auto;
    }

    .image__hebergement {
        height: 124px;
        border-radius: 20px 20px 0 0;
    }

    .bulle__texte {
    width: 100%;
    height: auto;
    }

    .hebergements {
        margin: 15px 0 0;
        padding: 20px !important;
        background-color: white !important;
    }
}